<div>
	<h2 style="padding-bottom: 10px;">Our Chefs</h2>

	<h4 style="padding-bottom: 0px;">Corina Weibel</h4>
	<img src="images/pics/corina.jpg" style="border: 2px solid black;" width="100%;">
	<p style="padding-top: 10px;">When Chef/Owner Corina Weibel opened Canelé she wanted to open a neighborhood restaurant that her friends and family could afford to dine at frequently. Her vision was simple. Cook food that tastes good. Food that has integrity. Eight years later she continues to do just that. The produce is sourced exclusively from local farmers markets, the meat is sustainably raised without the use of hormones, antibiotics, or any other weird unpronounceable practices, and the majority of the fish is wild and line caught. Her experience in some of the finest restaurants in Los Angeles provided her with a strong, classic foundation that she continues to uphold at Canelé. She is very pleased when a customer tells her she makes it look easy, and it’s not until they try to replicate a meal at home that they realize that perhaps good cooking is not as easy as she makes it look.</p>




	<h4 style="padding-bottom: 0px; padding-top: 20px;">Matt & Ria Wilson</h4>
	<img src="images/pics/mattrea.jpg" style="border: 2px solid black; left: 0;" width="100%;">
	<p style="padding-top: 10px;">WILD is the brainchild of Ria & Matt Wilson who first locked eyes at what was once called the Southern California School of Culinary Arts in Pasadena (now Le Cordon Bleu).  Matt is a product of Bouchon Las Vegas, Sage's Cafe SLC and Son of a Gun and loves Rush, The Mars Volta and classical music.  Ria is a product of The Mansion at MGM Grand, Daniel Boulud Brasserie at The Wynn and Canele and loves Wham, Hall and Oates and 90s-00s r&b, slow jams & hip hop.  Working together at Sqirl, they were an integral part of the team as its first Chef de Cuisine and Sous Chef.  It was there that they found their footing and soon began to play, creating enticing specials and contributing to the growth of the menu.  Now at Canele once again, they aim to continue that experimental and playful style that knows no cuisine boundary, except by what is dictated by the seasons.</p>
</div>