<h2>Your Place,<br class="visible-xs"> Or Ours!</h2>
<p>Hosting a dinner party, celebrating a gallery opening, need a gourmet boxed lunch, or planning an intimate wedding? Canelé caters!</p>

<p>Many of the items on our dinner and brunch menus are available and we also have a delicious range of passed appetizers, amuse bouche, entrees, and desserts we offer especially for off and onsite events.</p>

<div class="row visible-lg visible-md" style="margin-top: 1em; margin-bottom: 1em;">
	<div cl-pic-six image="images/pics/beandish.jpg"></div>
	<div cl-pic-six image="images/pics/chard.jpg"></div>
	<!-- <div class="col-md-6"><img src="images/pics/radishes.jpg" alt="..." style="border: 2px solid black; width: 100%;"></div> -->
</div>

<p>We've created memorable meals for artist's receptions, offered delectable boxed lunches to hungry crew memebers on photo shoots, delighted brides and grooms and their guests at intimate weddings, and have transformed our restaurant into a private lounge for occasions worth celebrating.</p>

<p>Our chef will create a menu with you that will make your event delicious. Let's chat: please email us at <a>catering@canele-la.com</a> or call 323.666.7133.</p>