<div>
	<h2 style="padding-bottom: 10px;">Hello!</h2>

	<p>We'd love to hear from you. If we are too busy to answer the phone, please leave us a message. Don't worry, we'll get back to you lickity-split.</p>

	<div class="row">
		<div class="col-md-2 contactLabelColumn">Phone:</div>
		<div class="col-md-10 contactColumn">323.666.7133</div>
	</div>
<!-- 
	<div class="row">
		<div class="col-md-2 contactLabelColumn">Fax:</div>
		<div class="col-md-10 contactColumn">323.666.2448</div>
	</div>
 -->
	<div class="row" style="padding-bottom: 16px;">
		<div class="col-md-2 contactLabelColumn">Email:</div>
		<div class="col-md-10 contactColumn"><a href="mailto:info@canele-la.com">info@canele-la.com</a>, <a href="mailto:catering@canele-la.com">catering@canele-la.com</a></div>
	</div>

	<p><a>Sign up</a> on our email/mailing list and you will receive occasional updates about special events at the restaurant. (Don't worry–we won't flood your inbox with junk and we'll keep all of your info to ourselves.)</p>

	<p>As is immediately apparent by our seasonally driven menus, we are regulars at the local farmer's markets around Los Angeles. Our weekly stops: Wednesday in Santa Monica, Saturday in Silver Lake, and Sunday in Hollywood and at our very own Atwater Village market. If you see chef Corina and/or her crew (they'll be the ones with the dolly and big crates full of fresh, organic produce), say hi!</p>

	<p>Our favorite place to see and speak with you? Right here at 3219 Glendale Blvd. Come by! Need directions on getting here? <a ng-click="goToDiretions()">Click me!</a>
	</p>
</div>