<div id="directions">
	<h2>Directions</h2>
	<p>From Hwy 5 take Glendale Blvd exit. From State Route 2 take San Fernando Road or Fletcher Drive. Click on map above for details.</p>

	<h2>Parking</h2>
	<p>We do not offer valet, but there is public parking available on Glendale Blvd and neighboring streets, with meters active 8:00 - 8:00.</p>

	<h2>Our Neighborhood</h2>
	<p>In the six years since we've been here, Atwater Village has become a destination for good eats, drinks, shopping, exercise, and entertainment. Details magazine recently declared the village one of <a href="http://www.details.com/culture-trends/critical-eye/201202/new-chic-urban-neighborhoods-los-angeles">The Six Hottest Emerging Neighborhoods In the World's Greatest Cities</a>. We encourage you to stroll and enjoy the community we're so proud to be a part of.</p>
</div>
