<h3>Fundraiser For 200</h3>
<h4>Passed Appetizers</h4>

<ul>
	<li>Caramelized onion tart</li>
	<li>Assorted crostini: roasted peppers, herbed goat cheese, tapenade</li>
	<li>Toasted almonds and olives</li>
	<li>Radish and french butter with fleur de sel grilled cheese with quince</li>
	<li>Herbed risotto cakes</li>
	<li>Lentils and currants on endive</li>
	<li>Brandade with tomato confit fennel cured salmon on a cucumber</li>
	<li>Spicy morrocan meatballs chicken liver pate with dijon roasted pork with romesco</li>
</ul>