<div style="background-color:rgba(255,255,255,0.45); border: 3px #000000 solid;">
	<!-- <div ng-transclude style="margin: 10px; margin-bottom: 20px; clear: both;"></div> -->

	<h2>Press</h2>

	<div class="quote">"It's a relaxed space that serves delicious handcrafted market food that's totally unpretentious."</div>
	<div class="quoted">-Suzanne Goin in Town & Country </div>

	<div class="quote">"Corina Weibel, a Nancy Silverton protegee...works the farmers-market-driven urban rustic side of new Los Angeles cooking: the Provencal onion tart pissaladiere and an austere green salad with creme fraiche; rare roast lamb with Israeli couscous and beef bourguignon with noodles; steak with potatoes Anna; and an honest flan. This is cooking worthy of the good china."</div>
	<div class="quoted">-Jonathan Gold in LAWeekly</div>

	<div class="quote">"Every time I drop in to Canelé (and drop in is the only way to go since the Atwater Village restaurant doesn't take reservations), I end up sitting at the communal table in the front window...Because the communal table sitters tend to be a self-selected group, people are often more sociable and they linger. Over wine. Over coffee. Over the beguiling buena chica cheesecake." </div>
	<div class="quoted">-S. Irene Virbila in Los Angeles Times</div>
</div>