<h3>Reception For 35</h3>

<h4>Cheeses</h4>
<ul>
	<li>St. George (Cow, USA)</li>
	<li>Garroxta (Goat, Spain)</li>
	<li>Forme d'ambert (Blue cow, France)</li>
</ul>

<h4>Fruits And Nuts</h4>
<ul>
	<li>Toasted almonds and olives</li>
	<li>Concord grapes</li>
	<li>D'anjou pears</li>
	<li>Persimmons</li>
	<li>Mixed berries</li>
	<li>Figs in earl grey syrup</li>
</ul>

<h4>Cured Meat / Fish</h4>
<ul>
	<li>Jamon serrano</li>
	<li>House cured salmon</li>
</ul>

<h4>Breads</h4>
<ul>
	<li>Baguette</li>
	<li>Crostini crackers</li>
	<li>Pumpernickel</li>
</ul>

<h4>Accompaniments</h4>
<ul>
	<li>Creme fraiche, capers, onion</li>
	<li>Sweet butter</li>
	<li>Preserves and creme fraiche</li>
</ul>