<h3>Shower For 30</h3>
<h4>Soup</h4>
<ul>
	<li>Chilled beet soup with horseradish crème fraiche</li>
</ul>
<h4>Quiche</h4>
<ul>
	<li>Three delicious varieties</li>
</ul>
<h4>Little Sandwiches</h4>
<ul>
	<li>Cured salmon</li>
	<li>French breakfast radish</li>
	<li>Jamon serrano</li>
	<li>Chicken</li>
</ul>
<h4>Sweets</h4>
<ul>
	<li>Bread, butter and jam</li>
	<li>Biscuits</li>
	<li>Strawberries and fresh cream</li>
	<li>Fruit tarts</li>
	<li>Chocolate cake</li>
	<li>polenta cookies</li>
	<li>Canelé</li>
</ul>
<h4>Juices</h4>
<ul>
	<li>Blood orange and orange</li>
</ul>