<h3>Summer Wedding For 150</h3>
<h4>For Passing</h4>
<ul>
	<li>Halibut ceviche on a cucumber</li>
	<li>Brandade with tomato confit</li>
	<li>Black bread with fennel cured salmon</li>
	<li>Grilled cheese with quince</li>
	<li>Roasted dates wrapped in bacon</li>
	<li>Radish and french butter with fleur de sel</li>
	<li>Carmalized onion tart</li>
	<li>toasted almonds</li>
</ul>

<h4>Mixed Grill Station</h4>
<ul>
	<li>Beef with salsa verde</li>
	<li>Pork tenderloin with romesco<li>
	<li>Grilled shrimp with aioli</li>
</ul>
<h4>Sides</h4>
<ul>
	<li>Grilled asparagus</li>
	<li>Marinated mushrooms</li>
	<li>Herbed risotto cakes</li>
</ul>
<h4>Dessert</h4>
<ul>
	<li>Bowls of strawberries, cream</li>
	<li>Canelé</li>
</ul>