<h3>Wedding Dinner For 50</h3>

<h4>After The Ceremony</h4>
<ul>
	<li>Prosecco and marcona almonds</li>
</ul>

<h4>In The Beginning</h4>
<ul>
	<li>Assorted crostini</li>
	<li>Bruschetta, tapanade, chicken liver pate, brandade</li>
	<li>Assorted salumi: speck, proscuitto, mortadella, salami</li>
	<li>Olives and almonds</li>
</ul>

<h4>Followed By</h4>
<ul>
	<li>Persimmon salad with pomegranate molasses and shaved parmesan</li>
</ul>

<h4>And Then</h4>
<ul>
	<li>Family style platters of the following, please choose 3</li>
	<li>Crispy chicken under a brick with soft polenta, porcini and parsley salad</li>
	<li>Linguini and clams</li>
	<li>Salt roasted whole fish with celery and caperberrie salad</li>
	<li>Roasted pork loin with romesco and braised leeks</li>
	<li>Pasta putanesca</li>
</ul>

<h4>Contorni</h4>
<ul>
	<li>Garlicy roasted white beans</li>
	<li>Long cooked greens</li>
</ul>

<h4>There’s Always A Cheese Course</h4>
<ul>
	<li>Burrata, a young pecorino, and forme d’ambert (blue)</li>
	<li>With dates, figs, nuts, motarda and honey</li>
</ul>

<h4>You Bring The Cake</h4>

<h4>We Bring The Canelé And Coffee</h4>