<!-- <div style="background-color:rgba(255,255,255,0.45); border: 3px #000000 solid;"> -->
<style>
.sidebar-header{
/*background-color:rgba(170,150,70,0.07);*/
/*background-color:rgba(170,238,170,0.15);*/
/*border-top: 1px #dddddd solid;*/
padding: .1em;
padding-right: 10px;
/*background-image: -moz-linear-gradient(
  rgba(170,150,70,0.01) 0%, rgba(170,150,70,0.07) 95%
);*/
}
</style>

	<h3 style="margin-bottom: -8px;">Hours</h3>

	<div class="sidebar-header container-float"><h5 style="text-align: right;">Lunch</h5></div>
	<table class="table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="">Wed - Fri</td>
			<td class="col-md-6" style="text-align: right;">11am - 3pm</td>
		</tr>
	</table>

	<div class="sidebar-header container-float"><h5 style="text-align: right;">Dinner</h5></div>
	<table class="table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="">Tues - Thur, Sun</td>
			<td class="col-md-6" style="text-align: right;">5pm - 10pm</td>
		</tr>
	</table>

<!-- 	<div class="sidebar-header container-float"><h5 style="text-align: right;">Dinner</h5></div>
	<table class="table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="">Tuesday - Thursday, Sunday</td>
			<td class="col-md-6" style="text-align: right;">5pm - 10pm</td>
		</tr>
	</table>
 -->
	<div class="sidebar-header container-float"><h5 style="text-align: right;">Happy Hour</h5></div>
	<table class="table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="">Tues - Thur</td>
			<td class="col-md-6" style="text-align: right;">5pm - 6pm</td>
		</tr>
		<tr>
			<td class="">Fri - Sat</td>
			<td class="col-md-6" style="text-align: right;">5pm - 10:30pm</td>
		</tr>
	</table>

	<div class="sidebar-header container-float"><h5 style="text-align: right;">Brunch</h5></div>
	<table class="table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="">Sat - Sun</td>
			<td class="col-md-6" style="text-align: right;">10am - 3pm</td>
		</tr>
	</table>

	<div><h6>Closed on Mondays</h6></div>

<!-- </div> -->