<!-- <div style="background-color:rgba(255,255,255,0.45); border: 3px #000000 solid; "> -->

<h3 >Reservations</h3>

<p>Please call for reservations.</p>
<p>Dinner reservations are available for <b>any size party</b>.</p>
<p>Lunch & brunch reservations are available for parties of <b>6 or more</b>.</p>

<!-- <p>Don't worry, there is no need to make one. Because of our small size we don't take reservations. In addition to our dining room tables we have a few bar stools with an excellent view of the kitchen and a lively and popular communal table.</p>
 -->
<!-- </div> -->