<nav id="mainMenu">
  <ul class="nav nav-tabs mainTabs">
    <li><a ng-class="getClass('/home')" href="#/home">HOME</a></li>
    <li><a ng-class="getClass('/menu')" href="#/menu">MENU</a></li>
    <li><a ng-class="getClass('/about')" href="#/about">ABOUT</a></li>
    <li><a ng-class="getClass('/press')" href="#/press">PRESS</a></li>
    
<!--     <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT</a>
      <ul class="dropdown-menu mainSubs" role="menu">
        <li><a href="#/location">LOCATION + FAQ</a></li>
        <li><a href="#/gift">GIFT GIVING</a></li>
        <li><a href="#/chef">CHEF/CO-OWNERS</a></li>
        <li><a href="#/press">PRESS</a></li>
        <li><a href="#/contact">CONTACT</a></li>
      </ul>
    </li> -->

    <li><a ng-class="getClass('/friends')"  href="#/friends">FRIENDS COOK</a></li>
    <li><a ng-class="getClass('/catering')" href="#/catering">CATERING</a></li>
  </ul>
</nav>