<div class="row">
	<div class="pressTitleInline"><img src="images/press-headers/ba_logo.png" class="col-xs-12" style="margin-left: -20px;"></div>
	<div class="articleTitle"><a href="http://www.bonappetit.com/recipes/article/top-10unch-spots">Top 10 Brunch Spots</a></div>
	<div class="articleQuote-xs">"Along Atwater Village's main drag sits this tiny gem run by chef Corina Weibel and her partner, Jane Choi. The omelets (pictured filled with tomato confit, goat cheese, mushrooms, or caramelized onions) are simple perfection..."</div>
</div>