<div class="row">
	<div class="pressTitleInline"><img src="images/press-headers/ba_logo.png" class="col-xs-12" style="margin-left: -20px;"></div>
	<div class="articleTitle"><a href="">Chef for a day: Cooking at Canelé</a></div>
	<div class="articleQuote-xs">"It's a rare place in L.A. where the focus is actually on the food...in Atwater Village, a bohemian neighborhood just north of downtown L.A. The moment you walk through the door, you feel like you're in a cool Lower East Side Manhattan haunt, only cleaner..."</div>
</div>
