<div class="row">
	<div class="pressTitle"><img src="images/press-headers/latimes.png" class="col-xs-12" style="margin-bottom: -10px; margin-left: -20px;"></div>
	<img src="images/press-headers/cw_at_home.jpg" style="border: 2px solid black; margin-bottom: 10px;" width="100%">

	<div class="articleTitle"><a href="">L.A. at Home: Canelé Chef Corina Weibel's Home Kitchen</a></div>
	<div class="articleQuote-xs">"Corina Weibel, chef and co-owner of Canelé restaurant in the Atwater Village neighborhood of Los Angeles, has the kitchen of a real cook. Everything is out in the open. Her secret: There are no secrets..."</div>
</div>