<div class="row">
	<div class="pressTitle"><img src="images/press-headers/latimes.png" style="margin-bottom: -20px; margin-left: -10px; width: 105%;"></div>
	<div class="articleTitle"><a href="http://www.latimes.com/food/la-fo-brunch-roundup-20100909-story.html#page=1">
		Weekend brunch: Seven L.A.-area restaurants that are doing it right</a></div>
	<div class="articleQuote-xs">"Canelé has become a neighborhood institution and a favorite for chef-owner Corina Weibel's Mediterranean take on brunch..."</div>
</div>