<div class="row">
	<div class="pressTitleInline col-md-4"><img src="images/press-headers/bon-appetit-cover.jpg" style="border: 2px solid black;" width="100%;"></div>
	<div class="articleTitle"><a href="http://www.bonappetit.com/recipes/article/top-10-brunch-spots">Top 10 Brunch Spots</a></div>
	<div class="articleQuote">"Along Atwater Village's main drag sits this tiny gem run by chef Corina Weibel and her partner, Jane Choi. The omelets (pictured filled with tomato confit, goat cheese, mushrooms, or caramelized onions) are simple perfection..."</div>
</div>
