	<div class="pressTitle" style="margin-bottom: -20px; margin-left: -10px;"><img src="images/press-headers/latimes.png"></div>
	<div class="row">
		<div class="col-md-6">
			<img src="images/press-headers/cw_at_home.jpg" style="border: 2px solid black;" width="100%;">
		</div>
		<div class="articleTitle"><a href="">L.A. at Home: Canelé Chef Corina Weibel's Home Kitchen</a></div>
		<div class="articleQuote">"Corina Weibel, chef and co-owner of Canelé restaurant in the Atwater Village neighborhood of Los Angeles, has the kitchen of a real cook. Everything is out in the open. Her secret: There are no secrets..."</div>
	</div>
