<div class="row">
	<div class="col-md-8">
		<div class="articleTitle">
			<a href="http://www.laweekly.com/squidink/2010/09/29/best-mignardise-or-after-dinner-goodwill-canelandeacutes-canelandeacutes">Best of L.A. / Best Mignardise, or After-Dinner Goodwill: Canelé's Canelés</a></div>
		<div class="articleQuote">"Canelé's canelés are metaphorical cakes as much as they are actual pastries. They represent the good will and neighborliness of the restaurant, which does not take reservations, which is built around the large, wooden communal table, and which regularly lets non-professionals cook dinner during Friends Cook nights..."</div>
	</div>
	<div class="pressTitle col-md-4"><img src="images/press-headers/laweekly-cover.jpg" style="border: 2px solid black;" width="100%;"></div>
</div>
